<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoluiscarrillo"
        android:label="Ies Luis Carrillo de Sotomayor"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinalDAMJLBSVA"
        android:roundIcon="@drawable/logoluiscarrillo"
        tools:targetApi="31">

        <!-- Parte de la Aplicacion de Sergio Villar Avalos -->

        <activity
            android:name="splashActivity.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="InicioSesion.MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <activity
            android:name="InicioSesion.OlvidoPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>



        <!-- Parte de la Aplicacion de Jorge López Bravo -->
        <activity android:name=".Datos.ParteIncidencias.Menu.MenuLateral"

            android:theme="@style/Theme.ProyectoFinalDAMJLBSVA"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

    </application>
</manifest>